@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  /* Font Jetbrains */
  font-family: 'JetBrains Mono', monospace;
  background-color: #106a94;
}